#Homepage-main-header {
  display: flex;
  gap: 440px;
  border: 1px solid red;
  padding: 7px 0px 5px 40px;
}

.Homepage-main-header-sections>img{
  height: 20px;
  /* border: 1px solid red; */
}

#Homepage-main-header-sections-smoke>img{
 height: 33px;
 /* border: 1px solid red; */
}

#homepage-image-wrapper {
  display: flex;
  /* border: 1px solid red; */
}

#Homepage-main-header>div{
  /* border: 1px solid red; */
}

#Homepage-main-header>:nth-child(3){
/* border: 1px solid red; */
margin-left: 85px;
margin-top: 5px;
}

#Homepage-main-header>:nth-child(1){
margin-top: 5px;
}

.homepage-images {
  width: 440px;
}

#homepage_menus_wrapper {
  display: flex;
  gap: 25px;
  /* border: 1px solid red; */
}

.homepage_menu_sections {
  display: flex;
  /* border-bottom:1px solid #464b4e; */
  width: 256px;
  height: 40px;
  justify-content: center;
}

.homepage_menu_sections > img {
  height: 20px;
  margin-top: 8px;
}

.homepage_menu_sections > div {
  margin-top: 8px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 15px;
  color: #464b4e;
}

#homepage_menu_sections_arrow{
  width: 40px;
  padding:0px 2px;
  background-color: #E4E8EB;
  margin-left: -25px;
}

#homepage_menu_sections_arrow>img{
    height: 12px;
    margin-top: 12px;
}