#modal_wrap {
  border: 1px solid red;
  height: 450px;
  width: 320px;
  border-radius: 30px;
  text-align: center;
  color: #464B4E;
}

.modal_inputs{
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 200px;
    margin-top: 20px;
}

#modal_logo{
    margin-top: 50px;
}

.modal_input_wrap{
    margin-top: 30px;
}

.modal_input_wrap>:nth-child(1){
     /* border: 1px solid red; */
     margin-right: 150px;
     margin-top: 50px;
     font-size: 12px;
     line-height: 12px;
     font-weight: 600;
}

